<ion-content [fullscreen]="true" class=" bg-[#D8F2F4] dark:bg-[#333333]">
  <div class=" flex justify-center items-center h-auto w-full p-4">
    <form class=" flex flex-col justify-center items-center h-full w-full max-w-screen-md text-center">

      <p class=" my-4 md:my-8 dark:text-white text-[#4BAADD] font-medium text-xl md:text-4xl text-center md:leading-normal">
        Seleccione el método de pago</p>

      <div class=" m-8 w-full dark:bg-[#8C8586] bg-[#E5EFFF] rounded-3xl border-solid border-2 border-black border-opacity-30">
        <div class=" grid grid-cols-4 py-4 md:py-10 items-center justify-center">
          <p class=" pl-4 md:pl-10 col-span-3 text-left text-md md:text-3xl "><ion-icon name="ellipse" class="mr-1 mb-1 md:mr-8 align-bottom"></ion-icon> Tarjetas de crédito/débito</p>
          <p class=" pr-4 md:pr-10  col-span-1 text-right"><img class="w-1/2 inline-block" src="assets/mastercard.png" /><img class="w-1/2 inline-block" src="assets/visa.png" /></p>
          <p class=" p-4 md:p-10 col-span-4 bg-[#0074BD] dark:bg-white dark:bg-opacity-60 border-y-2 border-solid border-black border-opacity-60 text-center">
            <input class=" inline-block w-full text-md md:text-3xl appearance-none my-2 md:my-4 py-2 px-4 md:py-4 md:px-8 text-[#5a5a5a] dark:text-[#ffffff] leading-relaxed focus:outline-none focus:shadow-outline bg-[#D8E8E7] dark:bg-[#8C8586]  rounded-full border-2 border-[#000000] border-opacity-65 dark:border-opacity-80" type="text" placeholder="Nombre del títular"/>
            <input class=" inline-block w-full text-md md:text-3xl appearance-none my-2 md:my-4 py-2 px-4 md:py-4 md:px-8 text-[#5a5a5a] dark:text-[#ffffff] leading-relaxed focus:outline-none focus:shadow-outline bg-[#D8E8E7] dark:bg-[#8C8586]  rounded-full border-2 border-[#000000] border-opacity-65 dark:border-opacity-80" type="number" placeholder="Número de la tarjeta"/>
            <input class=" inline-block w-full text-md md:text-3xl appearance-none my-2 md:my-4 py-2 px-4 md:py-4 md:px-8 text-[#5a5a5a] dark:text-[#ffffff] leading-relaxed focus:outline-none focus:shadow-outline bg-[#D8E8E7] dark:bg-[#8C8586]  rounded-full border-2 border-[#000000] border-opacity-65 dark:border-opacity-80" type="date" placeholder="Fecha de vencimiento"/>
            <input class=" inline-block w-8/12 text-md md:text-3xl appearance-none my-2 md:my-4 py-2 px-4 md:py-4 md:px-8 text-[#5a5a5a] dark:text-[#ffffff] leading-relaxed focus:outline-none focus:shadow-outline bg-[#D8E8E7] dark:bg-[#8C8586]  rounded-full border-2 border-[#000000] border-opacity-65 dark:border-opacity-80" type="number" placeholder="CVV"/>
            <span class=" inline-block w-1/12"></span>
            <img class="inline-block w-3/12 my-2 md:my-4 align-top" src="assets/cvv.png" />
            <button class="mt-2 md:mt-4 mb-4 md:mb-8 inline-block w-6/12 mx-auto font-bold appearance-none  text-white text-lg md:text-2xl py-2 md:py-5 px-8 md:px-14 focus:outline-none leading-normal focus:shadow-outline bg-transparent dark:bg-[#1855F1] dark:bg-opacity-70 rounded-full border-opacity-30 border-solid border-2 border-black " type="button" >
              Pagar
            </button>
          </p>
        </div>
        <div class=" grid grid-cols-4 py-4 md:py-10 lg:py-12 items-center justify-center">
          <p class=" pl-4 md:pl-10 lg:pl-12 col-span-3 text-left text-md md:text-3xl "><ion-icon name="ellipse-outline" class="mr-1 mb-1 md:mr-8 align-bottom"></ion-icon> Mercado Pago</p>
          <p class=" pr-4 md:pr-10 lg:pr-12 col-span-1 text-right"><img class="w-1/1 inline-block" src="assets/mercadopago.svg" /></p>
        </div>
        <div class=" grid grid-cols-4 py-4 md:py-10 lg:py-12 items-center justify-center">
          <p class=" pl-4 md:pl-10 lg:pl-12 col-span-3 text-left text-md md:text-3xl "><ion-icon name="ellipse-outline" class="mr-1 mb-1 md:mr-8 align-bottom"></ion-icon> WebPay</p>
          <p class=" pr-4 md:pr-10 lg:pr-12 col-span-1 text-right"><img class="w-1/1 inline-block" src="assets/webpay.png" /></p>
        </div>
        <div class=" grid grid-cols-4 py-4 md:py-10 lg:py-12 items-center justify-center">
          <p class=" pl-4 md:pl-10 lg:pl-12 col-span-3 text-left text-md md:text-3xl "><ion-icon name="ellipse-outline" class="mr-1 mb-1 md:mr-8 align-bottom"></ion-icon> Pago en efectivo</p>
          <p class=" pr-4 md:pr-10 lg:pr-12 col-span-1 text-right"><img class="w-1/1 inline-block" src="assets/billetera.png" /></p>
        </div>
      </div>

    </form>
  </div>
</ion-content>
<app-footer></app-footer>