<ion-content [fullscreen]="true" class=" bg-[#D8F2F4] dark:bg-[#333333]">
MAPA
</ion-content>
<ion-footer class="bg-white dark:bg-white text-center p-4 flex flex-row items-center justify-center gap-8">

  <a routerLink="" class="inline-block h-10 w-14 bg-[url('assets/home_light.svg')] dark:bg-[url('assets/home_dark.svg')] bg-no-repeat bg-contain bg-center "></a>

  <a routerLink="" class="inline-block h-10 w-10 bg-[url('assets/person_light.svg')] dark:bg-[url('assets/person_dark.svg')] bg-no-repeat bg-contain bg-center "></a>

  <a routerLink="" class="inline-block h-10 w-16 bg-[url('assets/medkit_light.svg')] dark:bg-[url('assets/medkit_dark.svg')] bg-no-repeat bg-contain bg-center "></a>

  <a routerLink="" class="inline-block h-10 w-10 bg-[url('assets/reader_light.svg')] dark:bg-[url('assets/reader_dark.svg')] bg-no-repeat bg-contain bg-center "></a>

</ion-footer>