<ion-content [fullscreen]="true" class=" bg-[#D8F2F4] dark:bg-[#333333]">
  <div class="flex justify-center items-center h-full w-full p-10">
    <div class="flex flex-col justify-center items-center h-full w-full">
      <div class="swiper flex justify-center items-center w-full">
        <div class="swiper-wrapper w-full font-sans">
          <div class="swiper-slide text-center">
            <img src="assets/presentationscreen 1 .png" alt="Description 1" class="mx-auto h-80 w-auto">
            <h2 class="text-black dark:text-[#bbbbbb] font-semibold text-2xl md:text-3xl mt-5">Contacta con un especialista</h2>
            <p class="text-black dark:text-white font-normal text-lg mt-2 leading-tight">¿Necesitas un especialista al instante? Esta es tu app</p>
          </div>
          <div class="swiper-slide text-center">
            <img src="assets/presentationscreen 2 .png" alt="Description 2" class="mx-auto h-80 w-auto">
            <h2 class="text-black dark:text-[#bbbbbb] font-semibold text-2xl md:text-3xl mt-5">Ubicación del especialista en tiempo real</h2>
            <p class="text-black dark:text-white font-normal text-lg mt-2 leading-tight">Transparencia de tiempos a nivel real</p>
          </div>
          <div class="swiper-slide text-center">
            <img src="assets/presentationscreen 3 .png" alt="Description 3" class="mx-auto h-80 w-auto">
            <h2 class="text-black dark:text-[#bbbbbb] font-semibold text-2xl md:text-3xl mt-5">Flexibilidad de servicios a tu alcance</h2>
            <p class="text-black dark:text-white font-normal text-lg mt-2 leading-tight">Aquí tienes distintos servicios que se ajustan a tu necesidad</p>
          </div>
        </div>
      </div>

      <div class=" w-full pt-8 text-center">
        <span class="pagination-indicator h-3 md:h-4 lg:h-5 w-3 md:w-4 lg:w-5 inline-block mx-1 md:mx-1.5 lg:mx-2 bg-[#D8E8E7] bg-opacity-80 dark:bg-[#8C8586] dark:bg-opacity-100 rounded-full border-2 border-[#000000] border-opacity-65 dark:border-opacity-80" id="swiperPagination_1"> </span>
        <span class="pagination-indicator h-3 md:h-4 lg:h-5 w-3 md:w-4 lg:w-5 inline-block mx-1 md:mx-1.5 lg:mx-2 bg-[#D8E8E7] bg-opacity-80 dark:bg-[#8C8586] dark:bg-opacity-100 rounded-full border-2 border-[#000000] border-opacity-65 dark:border-opacity-80" id="swiperPagination_1"> </span>
        <span class="pagination-indicator h-3 md:h-4 lg:h-5 w-3 md:w-4 lg:w-5 inline-block mx-1 md:mx-1.5 lg:mx-2 bg-[#D8E8E7] bg-opacity-80 dark:bg-[#8C8586] dark:bg-opacity-100 rounded-full border-2 border-[#000000] border-opacity-65 dark:border-opacity-80" id="swiperPagination_1"> </span>
      </div>

      <a routerLink="/login" class="text-white font-medium text-lg px-12 py-2 bg-[#6A70FE] dark:bg-[#1855F1] dark:bg-opacity-70 rounded-full border-2 border-black border-opacity-65 mt-8">Inciar sesión</a>
    </div>
  </div>
</ion-content>
